<section class="home">
  <div class="left">
    <div class="photo">
      <img class="photo--img" src="{{ photo }}" alt="Photo of {{ name }}" />
    </div>
  </div>
  <div class="right">
    <div class="about">
      <h1 class="about__name">{{ name }}</h1>
      <span class="divider"></span>
      <div class="about__detail">
        <div class="about__detail__item">
          <span class="about__detail__item--label">Nationality:</span>
          <span class="about__detail__item--value">{{ nationality }}</span>
        </div>

        <div class="about__detail__item--margin-left">
          <span class="about__detail__item--label">Phone number:</span>
          <span class="about__detail__item--value">{{ phone }}</span>
        </div>
      </div>

      <div class="about__detail">
        <div class="about__detail__item">
          <span class="about__detail__item--label">Linkedin:</span>
          <span class="about__detail__item--value">{{ linkedin }}</span>
        </div>

        <div class="about__detail__item--margin-left">
          <span class="about__detail__item--label">Address:</span>
          <span class="about__detail__item--value">{{ address }}</span>
        </div>
      </div>

      <div class="about__detail">
        <div class="about__detail__item">
          <span class="about__detail__item--label">E-mail:</span>
          <span class="about__detail__item--value">{{ email }}</span>
        </div>
      </div>
      <div class="about__detail">
        <div class="about__detail__item">
          <span class="about__detail__item--label">About me:</span>
          <span class="about__detail__item--value">{{ aboutMe }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
